@import '../../../../styles.scss'; //Styles

.row-2 {
    @include half;
    margin-left: 10%;
  }

.main-container {
	// background-image: $gradient;
  height: auto;
  padding: 5% 0;
}

.row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    .row-inner {
      width: 43%;
      display: flex;
          justify-content: space-around;
          margin-top: 2%;
      .card-border {
        width: 32%;
              height: auto;
              padding: 4% 6%;
              margin: 0 4%;
              border: solid $rcn-blue 1px;
              border-radius: 40px;
              display: flex;
              justify-content: center;
      }
    }
  }
  
  .content {
      width: 100%;
      img {
          width: 100%;
      }
      .h6 {
          display: flex;
          justify-content: center;
          h6 {
              @include char-card-text;
              margin-top: 8%;
              text-align: center;
              color: $rcn-blue;
          }
      } 
  
  }

  @media (max-width: 768px){

    .row-2 {
      @include half;
      margin-left: 10%;
    }
  
  .main-container {
    // background-image: $gradient;
    height: auto;
    padding: 5% 0;
  }
  
  .row {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      .row-inner {
        width: 35%;
        display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 2%;
        .card-border {
          width: 100%;
                height: auto;
                padding: 10% 20%;
                margin: 5% 0;
                border: solid $rcn-blue 1px;
                border-radius: 40px;
                display: flex;
                justify-content: center;
        }
      }
    }
    
    .content {
        width: 100px;
        img {
            width: 100%;
        }
        .h6 {
            display: flex;
            justify-content: center;
            h6 {
                @include char-card-text;
                margin-top: 8%;
                text-align: center;
                color: $rcn-blue;
            }
        } 
    
    }
  
  }  