<div class="main-container">
  <div class="row">
    <div class="text">
      <app-title-text>
          <h3>LOAN PROPERTIES</h3>
          <p>To provide its creditors with the highest transparency standards, RCN provides a wealth of data for each of its loans.</p>
      </app-title-text>
    </div>
    <div class="row-2">
      <div class="box-border">
        <div class="box">
          <div class="title-box">
            <div class="img-box">
              <img src="../../../../assets/isologo.svg" alt="">
            </div>
            <div class="title">
              <h4>LOAN OVERVIEW</h4>
            </div>
          </div>
          <div class="bottom-border" *ngFor="let content of content">
              <div class="wrapper">
                <div class="col">
                  <div><i class="{{content.icon}}"></i></div>
                  <div>
                    <h6 class="sub-title">{{content.title}}</h6>
                    <h6 class="data">{{content.data}}</h6>
                  </div>
                </div>
                <div class="col">
                    <div><i class="fas fa-chart-line"></i></div>
                    <div>
                      <h6 class="sub-title">{{content.title2}}</h6>
                      <h6 class="data">{{content.data2}}</h6>
                    </div>
                </div>
                <div class="col">
                    <div><i class="fas fa-chart-line"></i></div>
                    <div>
                      <h6 class="sub-title">{{content.title3}}</h6>
                      <h6 class="data">{{content.data3}}</h6>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>