@import '../../../../styles.scss'; //Styles

.page-title:after {
	content: ""; 
	display: block;
	margin: 0; 
	border-bottom: 2px solid blue; 
}


.page-title2:after {
	content: ""; 
	display: block; 
	margin: 0; 
	padding-top: 5px; 
	padding-top: 0; 
	border-bottom: 1px solid blue; 
}



.main-container {
  display:flex;
  justify-content: center;
  margin: 5% 0;
  .row {
    width: 80%;
    .text {
        width: 60%;
    }
  }
}

.row-2 {
	display: flex;
	justify-content: center;
	.box-border {
		height: auto;
		width: 40%;
		border: solid #cfcfcf  1px;
		border-radius: 35px;
		padding: 2%;
		margin-top: 3%;
		.title-box {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 2%;
			.img-box {
				width: 50px;
				height: auto;
				margin-right: 2%;
			}
			.title {
				width: auto;
				h4 {
					@include tab-title;
					font-weight: 700;
				}
			}

		}
	}
}

.bottom-border:last-child {
	border:none;
}

.bottom-border:nth-child(3) {
	border:none;
}

.bottom-border {
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom:solid #cfcfcf 1px;
	margin: 0;
	.bottom-border:last-child{
			border-bottom: none;
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		margin: 3% 0;
		.col {
			width: 33%;
			display:flex;
			justify-content: flex-start;
			margin: 0 3%;

		}
	}
}

.fas {
	margin-right: 12px;
	font-size: 20px;
}

.far {
	margin-right: 12px;
	font-size: 20px;
}

h6 {
	@include tab-title;
}

.tooltip-box {
	opacity: 0.0;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	background-color: red;
	width: 150%;
	height: auto;
	position: absolute;
	left: 150%;
	bottom: 50%;
	z-index: 2;
	.front-box {
		border: solid $rcn-blue 1px;
		border-radius: 15px;
		width: 90%;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
		background-color: white;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		.content {
			width: 90%
		}
	}
	.back-box {
		border-radius: 15px;
		width: 90%;
		height: auto;
		position: absolute;
		top: 1%;
		left: 5%;
		overflow: hidden;
		-webkit-mask-image: url(../../../../assets/graphics/tooltip-shadow_long.svg);
		img {
			width: 100%;
		}
	}
}

.hover {
	position: relative;
	width: 100%;
}

.hover:hover > .tooltip-box{
	opacity: 1.0;

}

.sub-title {
	font-size: 10px;
	font-weight: 400;
	margin-bottom: 6%;
}

.data {
	font-weight: 700;
	font-size: 18px;
}

@media (max-width: 768px){

.main-container {
	display:flex;
	justify-content: center;
	margin: 5% 0;
	.row {
		width: 80%;
		.text {
			@include three-quarters;
			width: 100%;
			p {
			font-size: 18px;
			line-height: 1.6;
			}
		}
	}
}
    
.row-2 {
	display: flex;
	justify-content: center;
	margin-top: 4%;
	.box-border {
		height: auto;
		width: 100%;
		border-radius: 35px;
		padding: 4%;
		margin: 10% 0;
		.title-box {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 2%;
			.img-box {
				width: 35px;
				height: auto;
				margin-right: 2%;
		}
		.title {
			width: auto;
			h4 {
				@include tab-title;
				font-weight: 700;
				}
			}

		}
	}
}

.bottom-border {
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		margin: 4% 0;
		.col-1 {
			width: 60%;
			display:flex;
			justify-content: flex-start;

	}
	.col-2 {
			width: 40%;
			display:flex;
			justify-content: flex-start;

		}
	}
}

.fas {
	margin-right: 12px;
	font-size: 20px;
	display: none;
}

.far {
	margin-right: 12px;
	font-size: 20px;
	display: none;
}

h6 {
	@include tab-title;
}

.sub-title {
	font-size: 10px;
	font-weight: 400;
	margin-bottom: 6%;
}

.data {
	font-weight: 700;
	font-size: 12px;
}

}
