@import '../../../../styles.scss'; //Styles

.main-container{
	overflow: hidden;
	position: relative;
	width: 100%;
	display:flex;
	flex-wrap: wrap;

  .col-1 {
    @include half;
    margin-left: 10%;
    margin-top: 5%;
  }
  .row {
		display: flex;
		justify-content: center;
		width: 100%;
		table {
			width: 700px;
			border-collapse:separate;
			border:solid $rcn-blue 1px;
			border-radius:35px;
			-moz-border-radius:6px;
			margin: 3%;
		}
  }
}

.firstBox {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
}

.container {
	width: 100%;
	height: auto;
}

td, th {
	border-left:solid $rcn-blue 1px;
	border-top:solid $rcn-blue 1px;
}

th {
	width: 15%;
}

.first {
	border-top: none;
}

td:first-child, th:first-child {
	 border-left: none;
}

.img-outer{
	display: flex;
	justify-content: center;
	.img-box {
		margin: 10%;
		width: 50%;
		img {
			width: 100%;
		}
	}
}


h6 {
	margin: 10%;
	@include part-card-text;
}



.row2 {
	height: 100%;
	width: 25%;
	height: 100%;
    position: absolute;
    right: -25%;
    top: 0;
	background-color: $rcn-blue;
	border-top-left-radius: 30px;
}

.content {
	width: 80%;
	margin: 10%;
	.title {
		width: 100%;
		
	}
	.img {
		width: 20%;
		img {
			width: 100%;
		}
	}
}

.showCard {
	right: 0;
	-webkit-transition:right 1s;
	height: 100%;
	width: 25%;
	height: 100%;
    position: absolute;
    top: 0;
	background-color: $rcn-blue;
	border-top-left-radius: 30px;
	@include shadow;
}

.fullRow {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 768px){

	.row {
		display: flex;
		justify-content: center;
		table {
			width: 45%;
			border-collapse:separate;
			border:solid $rcn-blue 1px;
			border-radius:35px;
			-moz-border-radius:6px;
			margin: 3%;
		}
	}
	
	th {
		width: 10%;
	}
	
}
