<div class="main-container">
<div class="col-1">
  <app-title-text>
      <h3>PARTNERS</h3>
      <p>In a world of ever-growing markets we harness blockchain technology to bridge
          credit's supply and demand across borders, creating a new ecosystem for decentralized lending</p>
  </app-title-text>
</div>
<div class="row">
  <table>
    <tr>
      <th class="first">
        <div>
          <div class="img-box"><img src="../../../../assets/icons/icon-borderless.png" alt=""></div>
        </div>
        <div><h6>Ripio</h6></div>
      </th>
      <th class="first">
        <div>
          <div class="img-box"><img src="../../../../assets/icons/icon-borderless.png" alt=""></div>
        </div>
        <div><h6>Ripio</h6></div>
      </th>
      <th class="first">
        <div>
          <div class="img-box"><img src="../../../../assets/icons/icon-borderless.png" alt=""></div>
        </div>
        <div><h6>Ripio</h6></div>
      </th>
      <th class="first">
        <div>
          <div class="img-box"><img src="../../../../assets/icons/icon-borderless.png" alt=""></div>
        </div>
        <div><h6>Ripio</h6></div>
      </th>
    </tr>
    <tr>
      <th>
        <div>
          <div class="img-box"><img src="../../../../assets/icons/icon-borderless.png" alt=""></div>
        </div>
        <div><h6>Ripio</h6></div>
      </th>
      <th>
        <div>
          <div class="img-box"><img src="../../../../assets/icons/icon-borderless.png" alt=""></div>
        </div>
        <div><h6>Ripio</h6></div>
      </th>
      <th>
        <div>
          <div class="img-box"><img src="../../../../assets/icons/icon-borderless.png" alt=""></div>
        </div>
        <div><h6>Ripio</h6></div>
      </th>
      <th>
        <div>
          <div class="img-box"><img src="../../../../assets/icons/icon-borderless.png" alt=""></div>
        </div>
        <div><h6>Ripio</h6></div>
      </th>
    </tr>
  </table>
</div>
</div>