<div class="main-container">
  <div [ngClass]="show ? 'firstBox' : 'fullRow'">
    <div class="col-1">
      <app-title-text>
          <h3>PARTNERS</h3>
          <p>By integrating the Decentralized Finance ecosystem’s top companies, the RCN network is able 
            to deliver the highest performance to its users.</p>
      </app-title-text>
    </div>
    <div class="row">
      <table>
        <tr>
          <th class="first" (click)="ripio()">
            <div class="img-outer">
              <div class="img-box"><img src="../../../../assets/partners/logo-ripio.jpg" alt=""></div>
              <div class="text-box"><h6>Ripio</h6></div>
            </div>
          </th>
          <th class="first" (click)="bancor()">
            <div class="img-outer">
              <div class="img-box"><img src="../../../../assets/partners/logo-bancor.jpg" alt=""></div>
              <div class="text-box"><h6>Bancor<br>Network </h6></div>
            </div>
          </th>
          <th class="first" (click)="kyber()">
            <div class="img-outer">
              <div class="img-box"><img src="../../../../assets/partners/logo-kyber.jpg" alt=""></div>
              <div class="text-box"><h6>Kyber<br>Network</h6></div>
            </div>
          </th>
          <th class="first" (click)="zeppelin()">
            <div class="img-outer">
              <div class="img-box"><img src="../../../../assets/partners/logo-zeppelin.jpg" alt=""></div>
              <div class="text-box"><h6>Zeppelin</h6></div>
            </div>
          </th>
        </tr>
        <tr>
          <th>
            <div class="img-outer">
              <div class="img-box" (click)="decentraland()"><img src="../../../../assets/partners/logo-descentraland.jpg" alt=""></div>
              <div class="text-box"><h6>Decentraland</h6></div>
            </div>
          </th>
          <th>
            <div class="img-outer">
              <div class="img-box" (click)="metamask()"><img src="../../../../assets/partners/logo-metamask.jpg" alt=""></div>
              <div class="text-box"><h6>Metamask</h6></div>
            </div>
          </th>
          <th>
            <div class="img-outer">
              <div class="img-box" (click)="civic()"><img src="../../../../assets/partners/logo-civic.jpg" alt=""></div>
              <div class="text-box"><h6>Civic</h6></div>
            </div>
          </th>
          <th>
            <div class="img-outer">
              <div class="img-box" (click)="ethereum()"><img src="../../../../assets/partners/logo-eea.jpg" alt=""></div>
              <div class="text-box"><h6>Enterprise Ethereum<br>Alliance</h6></div>
            </div>
          </th>
        </tr>
      </table>
    </div>
</div>
<div [ngClass]="show ? 'showCard' : 'row2'">
    <div class="close-icon" (click)="close()">
      <i class="fas fa-times"></i>
    </div>
  <div class="content">
    <div class="title"><h4>{{info.title}}</h4></div>
    <div class="p"><p>{{info.text}}</p></div>
  </div>
</div>
</div>