<div class="main-container" [@scrollAnimation]="state">
  <!-- <div [ngClass]="show ? 'firstBox' : 'fullRow'"> -->
  <div class="fullRow">
    <div class="col-1">
      <app-title-text>
          <h3>PARTNERS</h3>
          <p>By integrating the Decentralized Finance ecosystem’s top companies, the RCN network is able 
            to deliver the highest performance to its users.</p>
      </app-title-text>
    </div>
    <div [ngClass]="show ? 'row-show' : 'row'">
      <table class="table">
        <tr>
          <th [ngClass]="info.ripioActive && show ? 'th-back-up-left' : 'first'" (click)="ripio()">
            <div [ngClass]="show ? 'img-outer-show' : 'img-outer'">
              <div class="img-box"><img src="../../../../assets/partners/logo-ripio.png" alt=""></div>
              <div class="text-box"><h6 [ngClass]="info.ripioActive && show ? 'h6-bold' : 'h6'">Ripio</h6></div>
            </div>
          </th>
          <th [ngClass]="info.bancorActive && show ? 'th-back-up' : 'first'" (click)="bancor()">
            <div [ngClass]="show ? 'img-outer-show' : 'img-outer'">
              <div class="img-box"><img src="../../../../assets/partners/logo-bancor.png" alt=""></div>
              <div class="text-box"><h6 [ngClass]="info.bancorActive && show ? 'h6-bold' : 'h6'">Bancor<br>Network </h6></div>
            </div>
          </th>
          <th [ngClass]="info.kyberActive && show ? 'th-back-up' : 'first'" (click)="kyber()">
            <div [ngClass]="show ? 'img-outer-show' : 'img-outer'">
              <div class="img-box"><img src="../../../../assets/partners/logo-kyber.png" alt=""></div>
              <div class="text-box"><h6 [ngClass]="info.kyberActive && show ? 'h6-bold' : 'h6'">Kyber<br>Network</h6></div>
            </div>
          </th>
          <th [ngClass]="info.zeppelinActive && show ? 'th-back-up-right' : 'first'" (click)="zeppelin()">
            <div [ngClass]="show ? 'img-outer-show' : 'img-outer'">
              <div class="img-box"><img src="../../../../assets/partners/logo-zeppelin.png" alt=""></div>
              <div class="text-box"><h6 [ngClass]="info.zeppelinActive && show ? 'h6-bold' : 'h6'">Zeppelin</h6></div>
            </div>
          </th>
        </tr>
        <tr>
          <th [ngClass]="info.decentralandActive && show ? 'th-back-down-left' : ''">
            <div [ngClass]="show ? 'img-outer-show' : 'img-outer'">
              <div class="img-box" (click)="decentraland()"><img src="../../../../assets/partners/logo-decentraland.png" alt=""></div>
              <div class="text-box"><h6 [ngClass]="info.decentralandActive && show ? 'h6-bold' : 'h6'">Decentraland</h6></div>
            </div>
          </th>
          <th [ngClass]="info.metamaskActive && show ? 'th-back' : ''">
            <div [ngClass]="show ? 'img-outer-show' : 'img-outer'">
              <div class="img-box" (click)="metamask()"><img src="../../../../assets/partners/logo-metamask.png" alt=""></div>
              <div class="text-box"><h6 [ngClass]="info.metamaskActive && show ? 'h6-bold' : 'h6'">Metamask</h6></div>
            </div>
          </th>
          <th [ngClass]="info.civicActive && show ? 'th-back' : ''">
            <div [ngClass]="show ? 'img-outer-show' : 'img-outer'">
              <div class="img-box" (click)="civic()"><img src="../../../../assets/partners/logo-civic.png" alt=""></div>
              <div class="text-box"><h6 [ngClass]="info.civicActive && show ? 'h6-bold' : 'h6'">Civic</h6></div>
            </div>
          </th>
          <th [ngClass]="info.ethereumActive && show ? 'th-back-down-right' : ''">
            <div [ngClass]="show ? 'img-outer-show' : 'img-outer'">
              <div class="img-box" (click)="ethereum()"><img src="../../../../assets/partners/logo-eea.png" alt=""></div>
              <div class="text-box"><h6 [ngClass]="info.ethereumActive && show ? 'h6-bold' : 'h6'">Enterprise Ethereum<br>Alliance</h6></div>
            </div>
          </th>
        </tr>
      </table>
      <table class="table-mobile">
          <tr>
            <th class="first" (click)="ripio()">
              <div class="img-outer">
                <div class="img-box"><img src="../../../../assets/partners/logo-ripio.png" alt=""></div>
                <div class="text-box"><h6>Ripio</h6></div>
              </div>
            </th>
            <th class="first" (click)="bancor()">
              <div class="img-outer">
                <div class="img-box"><img src="../../../../assets/partners/logo-bancor.png" alt=""></div>
                <div class="text-box"><h6>Bancor<br>Network </h6></div>
              </div>
            </th>
          </tr>
          <tr>
            <th (click)="kyber()">
              <div class="img-outer">
                <div class="img-box"><img src="../../../../assets/partners/logo-kyber.png" alt=""></div>
                <div class="text-box"><h6>Kyber<br>Network</h6></div>
              </div>
            </th>
            <th (click)="zeppelin()">
              <div class="img-outer">
                <div class="img-box"><img src="../../../../assets/partners/logo-zeppelin.png" alt=""></div>
                <div class="text-box"><h6>Zeppelin</h6></div>
              </div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="img-outer">
                <div class="img-box" (click)="decentraland()"><img src="../../../../assets/partners/logo-decentraland.png" alt=""></div>
                <div class="text-box"><h6>Decentraland</h6></div>
              </div>
            </th>
            <th>
              <div class="img-outer">
                <div class="img-box" (click)="metamask()"><img src="../../../../assets/partners/logo-metamask.png" alt=""></div>
                <div class="text-box"><h6>Metamask</h6></div>
              </div>
            </th>
          </tr>
          <tr>
            <th>
              <div class="img-outer">
                <div class="img-box" (click)="civic()"><img src="../../../../assets/partners/logo-civic.png" alt=""></div>
                <div class="text-box"><h6>Civic</h6></div>
              </div>
            </th>
            <th>
              <div class="img-outer">
                <div class="img-box" (click)="ethereum()"><img src="../../../../assets/partners/logo-eea.png" alt=""></div>
                <div class="text-box"><h6>Enterprise Ethereum<br>Alliance</h6></div>
              </div>
            </th>
          </tr>
        </table>
    </div>
</div>
  <div [ngClass]="show ? 'showCard' : 'row2'">
      <div class="close-icon" (click)="close()">
        <i class="fas fa-times"></i>
      </div>
    <div class="content">
      <div class="title"><h4>{{info.title}}</h4></div>
      <div class="line"></div>
      <div class="img-box"><img src="{{info.img}}" alt=""></div>
      <div class="p"><p>{{info.text}}</p></div>
    </div>
  </div>
</div>