@import '../../../../styles.scss'; //Styles

.main-container{
	overflow-x: hidden;
	position: relative;
	width: 100%;
	display:flex;
	flex-wrap: wrap;
	padding-top: 2%;
	.col-1 {
		@include half;
		margin-left: 10%;
		margin-right: 40%;
	  }
  .row {
		display: flex;
		justify-content: center;
		width: 100%;
		position: relative;
		z-index: 2;
		table {
			width: auto;
			height: auto;
			-webkit-transition: width 0.5s; /* Safari */
			transition: width 0.5s;
			border-collapse:separate;
			border:solid $rcn-blue 1.2px;
			border-radius:35px;
			-moz-border-radius:6px;
			margin: 3%;
		}
  }
}



.row-show {
	display: flex;
	justify-content: flex-start;
	align-content: flex-end;
	margin-left: 10%;
	margin-top: 4%;
	-webkit-transition: display 0.5s; /* Safari */
	transition: display 0.5s;
	table {
		width: auto;
		height: auto;
		-webkit-transition: width 0.5s; /* Safari */
		transition: width 0.5s;
		border-collapse:separate;
		border:solid $rcn-blue 1.2px;
		border-radius:35px;
		-moz-border-radius:6px;
		margin: 3%;
	}
}

.firstBox {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
}

.container {
	width: 100%;
	height: auto;
}

tr, th {
	border-left:solid $rcn-blue 1.2px;
	border-top:solid $rcn-blue 1.2px;
}

th {
	width: 15%;
}


.selected {
	background-color: $rcn-blue;
	border-top-left-radius: 35px;
	padding: 1%;
	.text-box {
		color: white;
	}
}

.th-back-up-left {
	background-color: #f8f8f8;
	border-top: none;
	border-top-left-radius: 35px;
}

.th-back-up-right {
	background-color: #f8f8f8;
	border-top: none;
	border-top-right-radius: 35px;
}

.th-back-up {
	background-color: #f8f8f8;
	border-top: none;
}

.th-back {
	background-color: #f8f8f8;
	border-top-right-radius: 0;
}

.th-back-down-left {
	background-color: #f8f8f8;
	border-top: none;
	border-bottom-left-radius: 35px;
	border-top: solid $rcn-blue 1px;
}

.th-back-down-right {
	background-color: #f8f8f8;
	border-top: none;
	border-bottom-right-radius: 35px;
	border-top: solid $rcn-blue 1px;
}

.first {
	border-top: none;
}

td:first-child, th:first-child {
	 border-left: none;
}

.img-outer{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 200px;
	height: 200px;
	.img-box {
		margin: 10%;
		margin-bottom: 0;
		width: 50%;
		-webkit-transition: width 0.5s; /* Safari */
		transition: width 0.5s;
		img {
			width: 100%;
		}
	}
}

.img-outer-show {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 160px;
	height: 160px;
	.img-box {
		margin: 10%;
		margin-bottom: 0;
		width: 40%;
		-webkit-transition: width 0.5s; /* Safari */
		transition: width 0.5s;
		img {
			width: 100%;
		}
	}
}

.text-box {
	width: 100%;
	h6 {
		margin: 0;
		@include part-card-text;
	}
	.h6-bold {
		margin: 0;
		@include part-card-text;
		font-weight: 700;
	}
}

.row2 {
	height: 100%;
	width: 25%;
	height: 100%;
  position: absolute;
  right: -25%;
  top: 0;
	background-color: $rcn-blue;
	border-top-left-radius: 30px;
	overflow-x: hidden;
}



.showCard {
	right: 0;
	-webkit-transition:right 0.5s;
	height: 100%;
	width: 25%;
	height: 100%;
  position: absolute;
  top: 0;
	background-color: $rcn-blue;
	border-top-left-radius: 150px;
	@include shadow;
	overflow-x: hidden;
	.content {
		width: 80%;
		margin: 15%;
		.title {
			width: 100%;
		}
		.img-box {
			width: 40%;
			img {
				width: 100%;
			}
		}
	}
}

.fullRow {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.close-icon {
	display: flex;
	justify-content: flex-end;
	margin: 6% 6%;
	.fas {
		font-size: 30px;
		color: white;
		margin-right: 4%;
	}
}

.title {
	@include char-card-text;
	font-size: 25px;
	font-weight: 700;
	// margin-bottom: 70%;
}

.line {
	width: 5%;
	margin-top: 2%;
	border-bottom: solid white 3px;
}

.p {
	@include char-card-text;
	font-size: 14px;
	width: 80%;
	line-height: 1.6;
}

.table-mobile {
	display: none;
}

@media (max-width: 1000px){

.table {
	display: none;
}



	.main-container{
		overflow-x: hidden;
		position: relative;
		width: 100%;
		display:flex;
		flex-wrap: wrap;
		padding: 5% 0;
		margin-right: 0%;
		.col-1 {
			width: 80%;
			margin-left: 10%;
			margin-right: 0;
		}
		.row {
			display: flex;
			justify-content: center;
			width: 100%;
			.table-mobile {
				display: block;
				width: auto;
				border-collapse:separate;
				border:solid $rcn-blue 1.2px;
				border-radius:35px;
				-moz-border-radius:6px;
			}
		}
	}

	p {
		font-size: 18px;
		line-height: 1.6;
	}

	.img-box {
		width: 100%;
		img {
			width: 100%;
		}
	}

	.row {
		display: flex;
		justify-content: center;
		table {
			width: 45%;

			border-collapse:separate;
			border:solid $rcn-blue 1.2px;
			border-radius:35px;
			-moz-border-radius:6px;
			margin: 3%;
		}
	}


	th {
		width: auto;
	}
	.showCard {
		right: 0;
		-webkit-transition:right 0.5s;
		height: 100%;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 2;
		background-color: $rcn-blue;
		border-top-left-radius: 0;
		@include shadow;
		overflow-x: hidden;
		.content {
			width: 90%;
			margin: 15%;
			.title {
				width: 100%;
			}
			.p {
				font-size: 10px;
			}
			.img-box {
				width: 40%;
				img {
					width: 100%;
				}
			}
		}
	}

	.firstBox {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.img-outer{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 150px;
		height: 150px;
		margin: 0;
		.img-box {
			margin: 10%;
			margin-bottom: 0;
			width: 50%;
			img {
				width: 100%;
			}
		}
	}

	.text-box {
		h6 {
			@include part-card-text;
			font-size: 10px;
		}
	}


	
}
