<section>
  <div class="main-container">
    <div class="container">
      <!-- <div></div> -->
      <div class="logo img">
        <img src="../../../assets/isologotypo.svg" alt="">
      </div>
      <div class="col-tabs">
        <ul class="tabs">
          <li class="menu-text">CREDITORS</li>
          <li class="menu-text">ORIGINATORS</li>
          <li class="menu-text">DEVELOPERS</li>
          <li class="menu-text">HOW IT WORKS</li>
        </ul>
      </div>
    </div>
  </div>
</section>