       <div class="row">
            <div class="row-inner">
                <div class="card-border" *ngFor = "let content of content">
                  <div class="content">
                    <div class="img-box">
                      <img src={{content.img}} alt="">
                    </div>
                    <div class="h6">
                      <h6>{{content.title}}</h6>
                    </div>
                  </div>
                </div>
              </div>
        </div>



