@import '../../../../styles.scss'; //Styles


.col-1 {
  @include half;
  margin-left: 10%;
}

.row-2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  .row-inner {
    width: auto;
    display: flex;
		justify-content: space-around;
		margin-top: 2%;
		.card {
			width: 32%;
			height: auto;
			padding: 1%;
			margin: 0 4%;
			display: flex;
			justify-content: center;
			cursor: pointer;
			.card-border {
				border: solid $rcn-blue 1.2px;
				border-radius: 40px;
				-webkit-transition: border-radius 0.2s; /* Safari */
				transition: border-radius 0.2s;
			}
			.card-border-expanded{
				border: solid $rcn-blue 1px; 
				border-left: solid $rcn-blue 8px;
				border-radius: 0 40px 40px 0;
				background-image: white ;
				-webkit-transition: border-radius 0.2s; /* Safari */
				transition: border-radius 0.2s;
				-webkit-transition: background-image 0.2s; /* Safari */
				transition: background-image 0.2s;
				-webkit-transition: border-left 0.2s; /* Safari */
				transition: border-left 0.2s;
				.content-box {
					width: 220px;
					height: 220px;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					.content-expanded {
						width: 80%;
						height: auto;
						display: flex;
						flex-wrap: wrap;
						justify-content: flex-start;
						align-items: center;
						margin: 3%;
						.img-box-expanded {
							width: 35%;
							margin-right: 60%;

							img {
								width: 100%;
							}
						}

						.h6 {
							@include char-card-text-color;
							margin-bottom: 1%;
						}
						.line {
							width: 8%;
							border-bottom: solid $rcn-blue 2px;
							margin-top: 2%;
						}
						.text {
							@include char-card-text-color;
							font-size: 12px;
							margin-top: 6%;
						}

					}
				}
			}

		}

  }
}
  
.content-box {
	width: 200px;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.content {
	width: 50%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	.img-box {
		width: 100%;
		img {
			width: 100%;
		}
	}

	.h6 {
		display: flex;
		justify-content: center;
		h6 {
			@include char-card-text-color;
			margin-top: 8%;
			text-align: center;
		}
	} 

}

.show {
	display: block;
}

.hide {
	display: none;
}

@media (max-width: 1000px){

	.main-container {
		background-image: $gradient;
		height: auto;
		padding: 15% 0;
	}
	.col-1 {
		width: 80%
	}
	
	.content-box {
		width: 150px;
		height: 150px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.content{
		.img-box {
			width: 50%;
			img {
				width: 100%;
			}
		}
	}

	.title {
		color: white;
	}
	.reg-text {
		color: white;
		font-size: 18px;
		line-height: 1.6;
	}
	
	.row-2 {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		padding-top: 5%;
		padding-bottom: 5%;
		.row-inner {
			width: 40%;
			display: flex;
				justify-content: center;
				flex-wrap: wrap;
				margin-top: 2%;
				.card {
					width: 100%;
						height: auto;
						padding: 1%;
						margin: 0 4%;
						display: flex;
						justify-content: center;
			.card-border {
				width: auto;
				height: auto;
				padding: 4%;
				margin: 5% 0;
				border: solid $rcn-blue 1.2px;
				border-radius: 40px;
				display: flex;
				justify-content: center;
				
			}
		}
		}
	}
	
	.content {
		width: 100%;
		img {
			width: 100%;
		}
		.h6 {
			display: flex;
			justify-content: center;
			h6 {
				@include char-card-text-color;
				margin-top: 8%;
				text-align: center;
			}
		} 
	
	}

}	