@import '../../styles.scss'; //Styles

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.page-title:after {
	content: ""; 
	display: block;
	margin-top: 4px; 
	border-bottom: 2px solid $rcn-blue; 
}


section {
	position: absolute;
	z-index: 2;
	top: 0;
	background-color: white;
}

.navbar {
	position: sticky;
	top: 0px;
	z-index: 9999;
	background: white;
	height: 8vh;
	transform-origin: top;
}

.main-container {
	@include shadow;
	position: sticky;
	height: 8vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo img{
	width: 100%;
	margin-left: 40%;
	background-color: white;
	cursor: pointer;
	img {
		width: 100%;
	}
}

.logo:focus {
	outline: white;
}

.menu-text:focus {
	outline: white;
}

.col-tabs{
	@include three-quarters;
	display: flex;
	align-content: center;
	margin: 0.5% 2%;
  .tabs {
    list-style-type: none;
		@include row-right;
		margin: 0;
		display: flex;
		align-items: center;	
    .menu-text {
			@include menu-text;
			font-size: 14px;
			margin: 0 2% ;
			cursor: pointer;
		}
		.menu-text:hover {
			color: $text-gray;
		} 
  }
}

a {
	text-decoration: none;
	margin: 0;
	color: inherit;
}

.bars{
	display: none;
}

section {
	display: flex;
	justify-content: center;
}

.mobile-nav {
	display: none;
	.logo-mobile {
		display: none;
	}
}

.overlay {
	display: none;
}

@media (max-width: 700px) {

section {
	display: flex;
	flex-wrap: wrap;
}

.mobile-nav {
	width: 100%;
	@include shadow;
	position: sticky;
	height: 9vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	.logo-mobile {
		display: block;
		width: 25%;
		margin-left: 4%;
		img {
			margin: 0;
		}

	}
		button {
		background: none;
		color: inherit;
		border: none;
		padding: 0;
		font: inherit;
		outline: inherit;
	}
	.bars {
    margin-right: 5%;
    font-size: 30px;
    color: $text-gray;
    display: block;
    .fa-bars {
        display: block;
    }
    .no-fa-bars {
        display: none;
    }
    .fa-times {
        display: block;
    }
    .no-fa-times {
        display: none;
    }
}
}

.logo {
	display: none;
}


.main-container {
	display: none;
	@include no-shadow;
}	

.col-tabs {
	display: none;
}

.mobile {
	display: block;
		width: 100%;
		background-color: white;
		padding: 2% 0;
	.col-tabs{
		@include one;
		display: flex;
		justify-content: center;
		.tabs {
			list-style-type: none;
			@include row-center;
			margin: 2% 0%;
			width: 70%;
			display: block;	
			.menu-text {
			@include menu-text;
			font-size: 17px;
			padding: 8% 0;
			border-bottom: solid rgb(212, 212, 212) 1px;
			}
			.menu-text:last-child {
				border-bottom: none;
			}   
		}
	}
}

.overlay {
	display: block;
	position: absolute;
	z-index: 1;
	width: 100vw;
	height: 60vh;
	background-color: black;
	overflow: hidden;
	opacity: 0.5;
	margin-top: 2%;
}

}
