<!-- <app-menu></app-menu> -->
<nav class="navbar" [@fadeInOut]>
    <div class="mobile-nav">
        <div class="logo-mobile" routerLink='/home'>
          <img src="../../../assets/isologotypo.svg" alt="">
        </div>
        <button class="bars" (click)="mobileMenu()">
          <i [ngClass]="mobile ? 'no-fa-bars' : 'fas fa-bars'"></i>
          <i [ngClass]="mobile ? 'fas fa-times' : 'no-fa-times'"></i>
        </button>
      </div>

  <div [ngClass]="mobile ? 'mobile' : 'main-container'">
    <!-- <div></div> -->
    <div class="logo img" routerLink='/home'>
      <img src="../../../assets/isologotypo.svg" alt="">
    </div>
    <div class="col-tabs">
      <div class="tabs">
        <div class="menu-text" routerLink='/creditors'>CREDITORS</div>
        <div class=" menu-text" routerLink='/originators'>ORIGINATORS</div>
        <a href="https://github.com/ripio/rcn-loans" target="blank" class="menu-text">DEVELOPERS</a>
        <div class="menu-text" routerLink='/how-it-works'>HOW IT WORKS</div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<app-footer class="section"></app-footer>