
<nav class="navbar">
    <div class="mobile-nav">
        <div class="logo-mobile" routerLink='/home'>
          <img src="../../../assets/isologotypo.svg" alt="">
        </div>
        <button class="bars" (click)="mobileMenu()">
          <i [ngClass]="mobile ? 'no-fa-bars' : 'fas fa-bars'"></i>
          <i [ngClass]="mobile ? 'fas fa-times' : 'no-fa-times'"></i>
        </button>
      </div>

  <div [ngClass]="mobile ? 'mobile' : 'main-container'">
    <div class="logo" routerLink='/home'>
      <img src="../../assets/img/isologotypo.svg" alt="">
    </div>
    <div class="col-tabs">
      <div class="tabs">
        <div class="menu-text" routerLink='/creditors'>CREDITORS</div>
        <div class=" menu-text" routerLink='/originators'>ORIGINATORS</div>
        <div class="menu-text"> <a href="https://github.com/ripio" target="blank" >DEVELOPERS</a></div>
        <div class="menu-text" routerLink='/how-it-works'>HOW IT WORKS</div>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<app-footer class="section"></app-footer>