@import '../../../../styles.scss'; //Styles

.page-title:after {
    content: ""; 
    display: block;
    margin: 0; 
	border-bottom: 2px solid $rcn-blue; 
}

.main-container {
	display: flex;
	justify-content: center;
	background-color: $gray;
	padding-bottom: 5%;
}

.col-1 {
	width: 55%;
	margin-top: 5%;
	margin-right: 5%;
	.title {
		@include subtitle;
		margin-top: 10%;
		margin-bottom: 1%;
	}
	p {
		margin: 5% 0;
	}
	.button {
		border: solid $rcn-blue 1px;
		margin: 0;
		padding: 20px 50px;
		border-radius: 30px;
		width: auto;
		overflow: visible;
		background: transparent;
		@include button-text;
		color: $rcn-blue;
		cursor: pointer;
		-webkit-transition: font-weight 0.2s; /* Safari */
		transition: font-weight 0.2s;
		-webkit-transition: background-color 0.2s; /* Safari */
		transition: background-color 0.2s;
		-webkit-transition: color 0.2s; /* Safari */
		transition: color 0.2s;
		
	}
	.button:hover {
		background-color: $rcn-blue;
		color: white;
		font-weight: 700;
		-webkit-transition: font-weight 0.2s; /* Safari */
		transition: font-weight 0.2s;
		-webkit-transition: background-color 0.2s; /* Safari */
		transition: background-color 0.2s;
		-webkit-transition: color 0.2s; /* Safari */
		transition: color 0.2s;
	}
}

.col-2 {
	width: 45%;
	margin-left: 10%;
	margin-top: 5%;
}

.img-box {
	width: 120%;
	height: auto;
	img {
		width: 100%;
		margin-left: -60%;
	}
}



@media (max-width: 1000px){

.main-container {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	flex-direction: column-reverse;
}

.col-1 {
	width: 80%;
	margin-top: 5%;
	margin-right: 10%;
	.title {
		@include subtitle;
		margin-top: 10%;
		margin-bottom: 2%;
	}
	.text {
		margin: 5% 0;
		font-size: 18px;
		line-height: 1.6;
	}
	.button {
		padding: 14px 26px;
		margin: 2% 0;
		font-size: 12px;
	}
}

a:focus {
	outline: white;
}

button:focus {
	outline: white;
}

.col-2 {
	width: 90%;
	margin-left: 0;
	margin-top: 5%;
	overflow: hidden;
}

.img-box {
	width: 120%;
	height: auto;
	img {
		width: 100%;
		margin-left: 0%;
		margin-right: -47%;
	}
}
}

@media (min-width: 800px) and (max-width: 1000px) {

	.col-2 {
		width: 70%
	}


}
