<div class="main-container">
  <div class="col-2">
    <div class="img-box">
        <img src="../../../../assets/img/mockup-dapp.png" alt="">
    </div>
  </div>
    <div class="col-1">
      <app-title-text>
          <h3 class="title">Meet the dApp</h3>
          <p>In a world of ever-growing markets we harness blockchain technology to bridge
              credit's supply and demand across borders, creating a new ecosystem for decentralized lending</p>
      </app-title-text>
      <button class="button">SEE HOW IT WORKS</button>
    </div>
</div>