<div class="main-container">
  <div class="col-1">
  	<app-title-text>
      	<h3 class="title">CHARACTERISTICS</h3>
      	<p class="reg-text">Blockchain technology allows RCN to outperform existing lending solutions to create a frictionless, transparent and completely borderless alternative to traditional debt markets.</p>
  	</app-title-text>
	</div>
	<div class="row-2">
		<div class="row-inner">
			<div class="card-border" *ngFor = "let content of content">
				<div class="content-box">
					<div class="content">
						<div class="img-box">
							<img src={{content.img}} alt="">
						</div>
						<div class="h6">
							<h6>{{content.title}}</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>