@import '../../../../styles.scss'; //Styles

.main-container {
    margin-top: 5%;
    padding: 5% 0;
    background-color: $rcn-blue;
		border-radius: 120px 120px 0 0;
		.phrase {
			display: flex;
			justify-content: center;
			.row {
        width: 80%;
        .text {
            @include three-quarters;
            .title {
                @include subtitle;
						}
						.line {
							width: 10%;
							border-bottom: solid black 3px; 
						}
						.text-p {
							color: white;
						}
            
        }
    }
		}

}

.row-2 {
	@include row-center;
	margin-top: 3%;
	.col {
		width: 65%;
		display: flex;
		justify-content: space-between;
		.wrapper {
			width: 22%;
			.box-img {
				width: 40%;
			}
			h6 {
				margin-top: 4%;
				@include tab-title;
				font-weight: 700;
			}
			p {
				@include tab-title;
				font-weight: 400;
				color: white;
				margin-top: 4%;
			}
		}
	}
}

@media (max-width: 768px){

	.main-container {
    margin-top: 5%;
    padding: 10% 0;
    background-color: $rcn-blue;
		border-radius: 50px 50px 0 0;
		.phrase {
			display: flex;
			justify-content: center;
			.row {
        width: 80%;
        .text {
            width: 100%;
            .title {
								@include subtitle;
								margin: 5% 0;
						}
						.line {
							width: 10%;
							border-bottom: solid black 3px; 
						}
						.text-p {
							color: white;
							font-size: 18px;
							line-height: 1.6;
							margin: 10% 0 5% 0;
						}
            
        }
    }
		}

}

.row-2 {
	@include row-center;
	margin-top: 3%;
	.col {
		width: 65%;
		display: block;
		.wrapper {
			width: 100%;
			.box-img {
				width: 40%;
				margin-top: 10%;
			}
			h6 {
				margin-top: 4%;
				@include tab-title;
				font-weight: 700;
			}
			p {
				@include tab-title;
				font-weight: 400;
				color: white;
				margin: 2% 0 20% 0;
				line-height: 1.6;
			}
		}
	}
}

}