@import '../../../../styles.scss'; //Styles

.page-title:after {
	content: ""; 
	display: block;
	margin: 0; 
	border-bottom: 2px solid white; 
	width: 50%;
}


.main-container {
    margin-top: 5%;
    padding: 5% 0;
    background-color: $rcn-blue;
		border-radius: 120px 120px 0 0;
		// background-image: $gradient;
		@include gradient-animation-back;
		// background-image: linear-gradient(177deg, #4352ff, #202880);
		// background-size: 50% 600%;
		
		// -webkit-animation: rcn 47s ease infinite;
		// -moz-animation: rcn 47s ease infinite;
		// -o-animation: rcn 47s ease infinite;
		// animation: rcn 47s ease infinite;
		
		// @-webkit-keyframes rcn {
		// 		0%{background-position:49% 0%}
		// 		50%{background-position:52% 100%}
		// 		100%{background-position:49% 0%}
		// }
		// @-moz-keyframes rcn {
		// 		0%{background-position:49% 0%}
		// 		50%{background-position:52% 100%}
		// 		100%{background-position:49% 0%}
		// }
		// @-o-keyframes rcn {
		// 		0%{background-position:49% 0%}
		// 		50%{background-position:52% 100%}
		// 		100%{background-position:49% 0%}
		// }
		// @keyframes rcn { 
		// 		0%{background-position:49% 0%}
		// 		50%{background-position:52% 100%}
		// 		100%{background-position:49% 0%}
		// }
		.phrase {
			display: flex;
			justify-content: center;
			.row {
        width: 80%;
        .text {
            @include three-quarters;
            .title {
								@include subtitle;
								color: white;
								margin-bottom: 1%;
						}
						.subtitle {
							margin: 0;
							padding: 0;
							display: none;
						}
						.line {
							width: 8%;
							border-bottom: solid white 5px; 
						}
						.text-p {
							color: white;
							p {
								margin: 0;
							}
						}
            
        }
    }
		}

}

.row-2 {
	@include row-center;
	margin-top: 3%;
	.col {
		width: 65%;
		display: flex;
		justify-content: space-between;
		.wrapper {
			width: 22%;
			position: relative;
			.box-number {
				margin: 0;
				padding: 0;
				.number {
					font-size: 100px;
					color: $rcn-blue;
					margin: 0;
					font-family: 'Montserrat', sans-serif;
					font-weight: 400;
					margin-left: -10%;
				}
			}
			.box-img {
				width: 40%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
			}
			.content {
				margin-top: 0%;
				h6 {
					margin-top: 0;
					@include tab-title;
					color: white;
					font-weight: 700;
				}
				p {
					@include tab-title;
					font-weight: 400;
					color: white;
					margin-top: 4%;
				}
				a {
					@include tab-title;
					font-weight: 400;
					color: white;
					margin-top: 4%;
				}
			}
		
		}
	}
}

@media (max-width: 1000px){

	.main-container {
    margin-top: 5%;
    padding: 10% 0;
    background-color: $rcn-blue;
		border-radius: 50px 50px 0 0;
		.phrase {
			display: flex;
			justify-content: center;
			.row {
        width: 80%;
        .text {
            width: 100%;
            .title {
								@include subtitle;
								margin: 5% 0;
						}
						.line {
							width: 10%;
							border-bottom: solid black 3px; 
						}
						.text-p {
							color: white;
							font-size: 18px;
							line-height: 1.6;
							margin: 10% 0 5% 0;
						}
            
        }
    }
		}

}

.row-2 {
	@include row-center;
	margin-top: 3%;
	.col {
		width: 65%;
		display: block;
		.wrapper {
			width: 100%;
			.box-img {
				width: 30%;
				margin-top: 0%;
				margin-bottom: 40%;
				position: absolute;
				top: -100%;
				left: 0;
			}
			.box-number {
				position: absolute;
				top: -100%;
				left: 0;
			}
			.content {
				margin-top: 60%;
				h6 {
					margin-top: 4%;
					@include tab-title;
					font-weight: 700;
				}
				p {
					@include tab-title;
					font-weight: 400;
					color: white;
					margin: 2% 0 20% 0;
					line-height: 1.6;
				}
			}
			
		}
	}
}

}