@import '../../../../styles.scss'; //Styles

.main-container {
		overflow: hidden;
}

.img-box {
	height: auto;
	background-image: url("../../../../assets/img/header-creditors.jpg");
	overflow: hidden;
}

.img-box-mobile {
	display: none;
} 


.content {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 19vh;
    width: 100%;
    .row {
        @include three-quarters;
        .title {
            Color: white;
            font-size: 60px;
        }
        .text {
						Color: white;
						font-size: 24px;
        }
    }
}

@media (max-width: 768px){ 

	.img-box {
    height: auto;
    background-image: url("../../../../assets/img/header-creditors.jpg");
    overflow: hidden;
}

.img-box-mobile {
    display: none;
} 

.content {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 16vh;
		width: 100%;
    .row {
				@include three-quarters;
				width: 80%;
				margin-left: 5%;
        .title {
            Color: white;
						font-size: 45px;
						width: 100%;
        }
        .text {
						Color: white;
						font-size: 22px;
						line-height: 1.6;
        }
    }
}

.img-box {
	display: none;
}
.img-box-mobile {
	display: block;
}

}

