<div class="main-container" [@slideInUp]>
  <div class="img-box">
    <img src="../../../../assets/img/header-creditors.jpg" alt="">
  </div>
  <div class="img-box-mobile">
    <img src="../../../../assets/img/header-mobile_creditors.jpg" alt="">
  </div>
  <div class="content">
    <app-title-text class="row">
      <h3 class="title">CREDITORS</h3>
      <p class="text">The RCN decentralized marketplace allows lenders to reach the most profitable debt markets around the world, no matter where they are.  With multiple currencies to choose from, highly competitive returns and versatile risk management options, lending is now the smartest strategy for crypto portfolios.
        </p>
    </app-title-text>
  </div>
</div>
