@import '../../../../styles.scss'; //Styles

.phrase {
	display: flex;
    justify-content: center;
    margin: 5% 0;
	.row {
    width: 100%;
    margin-left: 10%;
    .text {
        @include half;
        .title {
            @include subtitle;
				}
            
        }
    }
}

.mail {
	@include link-text;
}

@media (max-width: 768px){

	.phrase {
		display: flex;
			justify-content: center;
			margin: 5% 0;
		.row {
			width: 80%;
			margin-left: 0;
			padding: 10% 0;
			.text {
					@include half;
					width: 100%;
					font-size: 22px;
					line-height: 1.6;
					.title {
							@include subtitle;
					}
							
					}
			}
	}
}