@import '../../../../styles.scss'; //Styles

.main-container {
  display:flex;
  justify-content: center;
  margin: 5% 0;
  .row {
    width: 80%;
    .text {
      width: 100%;
      p {
        font-size: 16px;
        line-height: 1.6;
      }
    }
  
}
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  .img-box {
    width: 70%;
    img {
      width: 100%
    }
  }
}

.img-box-mobile {
  display: none;
}

@media (max-width: 768px){

.main-container {
  display:flex;
  justify-content: center;
	margin: 10% 0;
  .row {
    width: 80%;
    .text {
      width: 100%;
      p {
				font-size: 16px;
				line-height: 1.6;
      }
    }
  }
}

.img-box {
  display: none;
}
    
.img-container {
  width: 100%;
  display: flex;
	justify-content: flex-end;
	margin: 10% 0;
  .img-box-mobile {
    display: block;
    width: 100%;
    img {
      width: 100%
    }
  }
}

}

