<div class="main-container">
    <div class="row">
      <div class="text">
        <app-title-text>
            <h3>THE NETWORK</h3>
            <h6>CASO SIMIL MINTOS</h6>
            <p>In a world of ever-growing markets we harness blockchain technology to bridge
              credit's supply and demand across borders, creating a new ecosystem for decentralized lending</p>
        </app-title-text>
      </div>
      <div class="img-container">
          <div class="img-box">
              <img src="../../../../assets/graphics/scheme_cosigner.svg" alt="">
            </div>
      </div>
      <div class="text">
          <app-title-text>
              <!-- <h3>THE NETWORK</h3> -->
              <h6>COLATERALIZACION</h6>
              <p>In a world of ever-growing markets we harness blockchain technology to bridge
                credit's supply and demand across borders, creating a new ecosystem for decentralized lending</p>
          </app-title-text>
        </div>
        <div class="img-container">
            <div class="img-box">
                <img src="../../../../assets/graphics/scheme_crypto-collateral.svg" alt="">
              </div>
        </div>
        <div class="text">
            <app-title-text>
                <h3>LOAN LIFE CYCLE</h3>
                <!-- <h6>CASO SIMIL MINTOS</h6> -->
                <p>In a world of ever-growing markets we harness blockchain technology to bridge
                  credit's supply and demand across borders, creating a new ecosystem for decentralized lending</p>
            </app-title-text>
          </div>
          <div class="img-container">
              <div class="img-box">
                  <img src="../../../../assets/graphics/scheme_loan-life-cycle.svg" alt="">
                </div>
          </div>
          <div class="text">
              <app-title-text>
                  <h3>TOKEN</h3>
                  <!-- <h6>CASO SIMIL MINTOS</h6> -->
                  <p>In a world of ever-growing markets we harness blockchain technology to bridge
                    credit's supply and demand across borders, creating a new ecosystem for decentralized lending</p>
              </app-title-text>
            </div>




    </div>
</div>
