<div class="main-container">
    <div class="col-1">
      <app-title-text>
          <h3 class="title">NEWS & EVENTS</h3>
          <p class="reg-text">In a world of ever-growing markets we harness blockchain technology to bridge
              credit's supply and demand across borders, creating a new ecosystem for decentralized lending</p>
      </app-title-text>
    </div>
  </div>

<div class="row">
  <!-- <drag-scroll>
    <img drag-scroll-item src="../../../../assets/icons/icon-borderless.png" />
    <img drag-scroll-item src="../../../../assets/icons/icon-borderless.png" />
    <img drag-scroll-item src="../../../../assets/icons/icon-borderless.png" />
  </drag-scroll> -->
  <div class="border">
    <div class="content">
      <div class="title-box">
        <div><h3>Jinse</h3></div>
        <div>
            <div><i></i></div>
            <div><h6></h6></div>
          </div>
      </div>
      <div>
        <div class="p-box"><p>Ripio Closes $37 million ICO for Ethereum Lending Network</p></div>
      </div>
    </div>
  </div>
  <!-- <button (click)="moveLeft()">Left</button>
  <button (click)="moveRight()">Right</button>
  <button (click)="moveTo(2)">Last</button> -->
</div>


