<div class="main-container" [@scrollAnimation]="state">
    <div class="col-1">
      <app-title-text>
          <h3 class="title">NEWS AND EVENTS</h3>
          <p class="reg-text">As one of the Decentralized Finance ecosystem’s key stakeholders, 
            RCN is regularly featured at top events and media outlets across the world.</p>
      </app-title-text>
    </div>
  </div>
  <div class="row" >
    <div class="carrousel">
      <div class="container" *ngFor="let eachContent of activeContent" [@slideInLeft]="eachContent.movement" 
       [@slideInRight]="eachContent.movement"  [@opacity]="eachContent.opacity">
      <div class="border" >
          <div class="content" >
            <div class="row-up" >
              <div class="title-box">
                <div><h3>{{eachContent.title}}</h3></div>
                <div class="line"></div>
              </div>
              <div>
                <div class="p-box"><p>{{eachContent.text}}</p></div>
              </div>
            </div>
            <div class="row-down">
              <div class="info-box">
                <div class="icon"><i class="{{eachContent.icon1}}"></i></div>
                <div><p>{{eachContent.date}}</p></div>
              </div>
              <div class="info-box">
                <div class="icon"><i class="{{eachContent.icon2}}"></i></div>
                <div><p>{{eachContent.location}}</p></div>
              </div>
            </div>
          
          </div>
        </div>
      </div>
  </div>
  <div class="second-container">
      <div class="buttons-box">
        <button (click)="left()"><i class="fas fa-arrow-left"></i></button>
        <button (click)="right()"><i class="fas fa-arrow-right"></i></button>
      </div>
  </div>
<!--
    <drag-scroll
    drag-scroll-y-disabled="true"
    drag-scroll-x-disabled="true"
    (reachesLeftBound)="leftBoundStat($event)"
    (reachesRightBound)="rightBoundStat($event)"
    #nav>
    --------------------------------------------------- -->
    <!-- <div drag-scroll-item class="border" >
      <div class="content">
        <div class="title-box">
          <div><h3>LendIt USA 2019</h3></div>
        <div>
          <div class="p-box"><p>LendIt is one of the world’s leading events in financial services innovation, 
            fintech, digital banking, blockchain and lending.</p></div>
        </div>
        <div class="info-box">
          <div class="icon"><i class="fas fa-chart-line"></i></div>
          <div><p>04/08-09/2019</p></div>
        </div>
        <div class="info-box">
            <div class="icon"><i class="fas fa-chart-line"></i></div>
            <div><p>SAN FRANSISCO - US</p></div>
          </div>
      </div>
      </div>
    </div> -->
    <!-- --------------------------------------------------- -->
        <!-- <div drag-scroll-item class="border" >
          <div class="content">
            <div class="title-box">
              <div><h3>Coindesk</h3></div>
            <div>
              <div class="p-box"><p>Ripio Rolls Out Crypto-Powered Loans Across Latin America.</p></div>
            </div>
            <div class="info-box">
              <div class="icon"><i></i></div>
              <div><p></p></div>
            </div>
            <div class="info-box">
                <div class="icon"><i></i></div>
                <div><p></p></div>
              </div>
          </div>
          </div>
        </div> -->
            <!-- --------------------------------------------------- -->
    <!-- <div drag-scroll-item class="border" >
      <div class="content">
        <div class="title-box">
          <div><h3>EDCON 2019</h3></div>
        <div>
          <div class="p-box"><p>EDCON is a global conference series aiming to accelerate the 
            development of the Ethereum ecosystem worldwide.</p></div>
        </div>
        <div class="info-box">
          <div class="icon"><i class="fas fa-chart-line"></i></div>
          <div><p>04/08-14/2019</p></div>
        </div>
        <div class="info-box">
            <div class="icon"><i class="fas fa-chart-line"></i></div>
            <div><p>Sydney - Australia</p></div>
          </div>
      </div>
      </div>
    </div> -->
    <!-- --------------------------------------------------- -->
        <!-- <div drag-scroll-item class="border" >
          <div class="content">
            <div class="title-box">
              <div><h3>Forbes</h3></div>
            <div>
              <div class="p-box"><p>A Journey From Poverty To Banking The Unbanked in Argentina.</p></div>
            </div>
            <div class="info-box">
              <div class="icon"><i></i></div>
              <div><p></p></div>
            </div>
            <div class="info-box">
                <div class="icon"><i></i></div>
                <div><p>S</p></div>
              </div>
          </div>
          </div>
        </div> -->
            <!-- --------------------------------------------------- -->
    <!-- <div drag-scroll-item class="border" >
      <div class="content">
        <div class="title-box">
          <div><h3>Cointelegraph</h3></div>
        <div>
          <div class="p-box"><p>Global Lending System Can Be Improved With Blockchain.</p></div>
        </div>
        <div class="info-box">
          <div class="icon"><i></i></div>
          <div><p></p></div>
        </div>
        <div class="info-box">
            <div class="icon"><i></i></div>
            <div><p></p></div>
          </div>
      </div>
      </div>
    </div> -->
    <!-- --------------------------------------------------- -->
        <!-- <div drag-scroll-item class="border" >
          <div class="content">
            <div class="title-box">
              <div><h3>Venturebeat</h3></div>
            <div>
              <div class="p-box"><p>RCN launches Ripio engine to bring blockchain and smart-contracts to loans.</p></div>
            </div>
            <div class="info-box">
              <div class="icon"><i></i></div>
              <div><p></p></div>
            </div>
            <div class="info-box">
                <div class="icon"><i></i></div>
                <div><p></p></div>
              </div>
          </div>
          </div>
        </div> -->
        <!-- --------------------------------------------------- -->
    <!-- <div drag-scroll-item class="border" >
      <div class="content">
        <div class="title-box">
          <div><h3>Nasdaq</h3></div>
        <div>
          <div class="p-box"><p>Trade Talks - Blockchain is Transforming Global Credit and Lending</p></div>
        </div>
        <div class="info-box">
          <div class="icon"><i></i></div>
          <div><p></p></div>
        </div>
        <div class="info-box">
            <div class="icon"><i></i></div>
            <div><p></p></div>
          </div>
      </div>
      </div>
    </div> -->
        <!-- --------------------------------------------------- -->
  <!-- </drag-scroll> -->
  <!-- <button (click)="moveLeft()">Left</button>
  <button (click)="moveRight()">Right</button> -->
  <!-- <button (click)="moveTo(2)">Last</button> -->
  

</div>


