@import '../../../../styles.scss'; //Styles

.page-title:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0; /* This will center the border. */ /* Change this to whatever width you want. */

    
    border-bottom: 2px solid blue; /* This creates the border. Replace black with whatever color you want. */
}


.page-title2:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0; /* This will center the border. */ /* Change this to whatever width you want. */
    padding-top: 5px; /* This creates some space between the element and the border. */
    padding-top: 0; /* This creates some space between the element and the border. */
    border-bottom: 1px solid blue; /* This creates the border. Replace black with whatever color you want. */
}

.row{
    @include row-both;
    .container {
        @include row-around;
        margin: 3% 0;
        .col-1 {
            @include half;
            margin-left: 10%;
            margin-top: 5%;
        }
        .col-2 {
            @include half;
            // background-color: green;
        }
        .img {
            width: 30%;
            img {
                margin: 15% 0 0 -30% ;
            }
        }
    }
}

.tab-title-box {
    width: auto;
}
.tab-title {
    @include tab-title;
    color: black;
}

.sm-text {
    @include sm-text;
}

.tabs {
    width: 80%;

}

.link {
    @include link-text;
}

@media (max-width: 768px){

	.row{
    @include row-both;

    .container {
        @include row-around;
				margin: 3% 0;
				display: block;
        .col-1 {
            @include half;
            margin-left: 10%;
						margin-top: 5%;
						margin-bottom: 2%;
						width: 80%;
						.text {
							font-size: 18px;
							line-height: 1.6;
						}
        }
        .col-2 {
            @include half;
						width: 90%;
						margin-bottom: 5%;
        }
        .img {
            width: 100%;
            img {
                margin: 0;
            }
        }
    }
}

.tab-title-box {
    width: auto;
}
.tab-title {
    @include tab-title;
		color: black;
		font-size: 8px;
}

.sm-text {
    @include sm-text;
}

.tabs {
    width: 100%;

}

//----------------------

/* active tab */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    @include tab-title;
    }
    
    /* ink bar */
    ::ng-deep .mat-ink-bar {
    background-color: $yellow !important;
    width: 30px;
		}
		
		::ng-deep .mat-tab-label-container {
			width: auto;

		}

		::ng-deep .mat-tab-label  {
			font-size: 12px;
			padding: 0 12px !important;
			color: black !important;
		}

		::ng-deep .mat-tab-label-content  {
			font-size: 12px;
			color: black !important;
		}




    .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
        background: white;
        height: 5px; 
      }

}
