  <div class="row">
    <div class="container">
        <div class="col-1">
            <app-title-text>
                <h3>THE NETWORK</h3>
                <p>In a world of ever-growing markets we harness blockchain technology to bridge
                  credit's supply and demand across borders, creating a new ecosystem for decentralized lending</p>
            </app-title-text>
            <div class="tabs">
                <mat-tab-group>
                    <mat-tab>
                      <ng-template mat-tab-label >
                        CREDITORS
                      </ng-template>
                      <p class="sm-text">We provide financial institucions and DeFi services with access to global
                        liquidity in crypto and fiat currencies.
                      </p>
                    </mat-tab>
                    <mat-tab>
                      <ng-template mat-tab-label>
                        ECOSYSTEM
                      </ng-template>
                          <p class="sm-text">We provide financial institucions and DeFi services with access to global
                              liquidity in crypto and fiat currencies.</p>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                          ORIGINATORS
                        </ng-template>
                              <p class="sm-text">We provide financial institucions and DeFi services with access to global
                                  liquidity in crypto and fiat currencies.</p>
                      </mat-tab>
                  </mat-tab-group>
            </div>
        </div>
        <div class="col-2 img">
          <img src="../../../../assets/img/grafico-muestra.svg" alt="">
        </div>
    </div>
  </div>
