@import '../../../../styles.scss'; //Styles

.page-title:after {
    content: ""; 
    display: block;
    margin: 0; 
    border-bottom: 3px solid $rcn-blue; 
}


.page-title2:after {
    content: ""; 
    display: block; 
    margin: 0; 
    padding-top: 8px; 
    padding-top: 0; 
    border-bottom: 1.9px solid $rcn-blue; 
}

.page-title-mobile:after {
    display: none;
}


.page-title2-mobile:after {
    display: none;
}

.title {
    margin-bottom: 8px;
}


.row{
    @include row-both;
    padding-bottom: 2%;
    .container {
        @include row-around;
        margin: 3% 0;
        .col-1 {
            @include half;
            margin-left: 7%;
            margin-top: 5%;
        }
        .col-2 {
            @include half;
            margin-top: 3%;
            .container {
                width: 80%;
                height: 100%;
                // background-color: $gray;
                overflow: hidden;
                position: relative;
                .cube-1 {
                    position: absolute;
                    width: 26%;
                    top: 34%;
                    left: 16%;
                    -webkit-transition: top 2s; /* Safari */
                    transition: top 2s;
                }
                .cube-out-1 {
                    position: absolute;
                    width: 26%;
                    top: -100%;
                    left: 16%;
                    -webkit-transition: top 2s; /* Safari */
                    transition: top 2s;
                }
                .cube-2 {
                    position: absolute;
                    width: 26%;
                    top: 58%;
                    left: 16%;
                    -webkit-transition: top 2s; /* Safari */
                    transition: top 2s;
                }
                .cube-out-2 {
                    position: absolute;
                    width: 26%;
                    top: 100%;
                    left: 8%;
                    -webkit-transition: top 2s; /* Safari */
                    transition: top 2s;
                }
                .cube-3 {
                    position: absolute;
                    width: 26%;
                    top: 58%;
                    left: 30.2%;
                    -webkit-transition: left 2s; /* Safari */
                    transition: left 2s;
                }
                .cube-out-3 {
                    position: absolute;
                    width: 26%;
                    top: 58%;
                    left: 100%;
                    -webkit-transition: left 2s; /* Safari */
                    transition: left 2s;
                }
                .grid {
                    width: 80%;
                    height: auto;
                    position: absolute;
                    bottom: 0;
                    // margin-top: 20%;
                    img {
                        width: 100%;
                        // margin: 15% 0 0 -30% ;
                        // margin-top: 80%;
                    }
                }
            }
            
        }
        
    }
}

img {
    width: 100%;
}

.tab-title-box {
    width: auto;
}
.tab-title {
    @include tab-title;
    color: black;
}

.sm-text {
    @include sm-text;
    line-height: 1.6;
}

.tabs {
    width: 80%;

}

.link {
    @include link-text;


}

.link:hover {
    color: $text-gray;
}

@media (max-width: 768px){

    .page-title:after {
        display: none;
    }
    
    
    .page-title2:after {
        display: none;
    }
    
    .page-title-mobile:after {
        content: ""; 
        display: block;
        margin: 0; 
        border-bottom: 2px solid $rcn-blue; 
    }
    
    
    .page-title2-mobile:after {
        content: ""; 
        display: block; 
        margin: 0; 
        padding-top: 5px; 
        padding-top: 0; 
        border-bottom: 1px solid $rcn-blue; 
    }

	.row{
    @include row-both;

    .container {
        @include row-around;
				margin: 3% 0;
				display: block;
        .col-1 {
            @include half;
            margin-left: 10%;
						margin-top: 5%;
						margin-bottom: 2%;
                        width: 80%;
                        .title {
                            margin-bottom: 2%;
                        }
						.text {
							font-size: 18px;
							line-height: 1.6;
						}
        }
        .col-2 {
            @include half;
						width: 90%;
						margin-bottom: 5%;
        }
        .img {
            width: 100%;
            img {
                margin: 0;
            }
        }
    }
}

.tab-title-box {
    width: auto;
}
.tab-title {
    @include tab-title;
		color: black;
		font-size: 8px;
}

.sm-text {
    @include sm-text;
}

.tabs {
    width: 100%;

}

//----------------------

/* active tab */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    @include tab-title;
    }
    
    /* ink bar */
    ::ng-deep .mat-ink-bar {
    background-color: $yellow !important;
    width: 30px;
		}
		
		::ng-deep .mat-tab-label-container {
			width: auto;

		}

		::ng-deep .mat-tab-label  {
			font-size: 12px;
			padding: 0 12px !important;
			color: black !important;
		}

		::ng-deep .mat-tab-label-content  {
			font-size: 12px;
			color: black !important;
		}




    .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
        background: white;
        height: 5px; 
      }

}
