<div class="col-inner">
  <div class="container">
  <h3 class="title"><ng-content select = ".title"></ng-content></h3>
  <ng-content></ng-content>
  <!-- <h3 class="page-title2" [@lineAnimationThin]="lineState"></h3>
  <h3 class="page-title" [@lineAnimationThick]="lineState"></h3>
  <h3 class="page-title2-mobile" [@lineAnimationThinMobile]="lineState"></h3>
  <h3 class="page-title-mobile" [@lineAnimationThickMobile]="lineState"></h3> -->
  </div>
  <h6 class="subtitle"><ng-content select = "h6"></ng-content></h6>
  <p class="reg-text"><ng-content select = "p"></ng-content></p>
  <!-- <h3 class="title">THE NETWORK</h3>
  <p class="reg-text">In a world of ever-growing markets we harness blockchain technology to bridge
    credit's supply and demand across borders, creating a new ecosystem for decentralized lending</p> -->
</div>