<div class="main-container">
  <div class="col-sm">
    <ul>
      <li class="title">SEE MORE</li>
      <li class="subtitle">Creditors</li>
      <li class="subtitle">Originators</li>
      <li class="subtitle">Developers</li>
      <li class="subtitle">How it works</li>
    </ul>
  </div>
  <div class="col-sm">
    <ul>
      <li class="title">COMPANY</li>
      <li class="subtitle">About</li>
      <li class="subtitle">How it works?</li>
      <li class="subtitle">Documentation</li>
      <li class="subtitle">Blog</li>
    </ul>
  </div>
  <div class="col-sm">
    <ul>
      <li class="title">PROJECTS</li>
      <li class="subtitle">dApp</li>
      <li class="subtitle">Marmo SDK</li>
    </ul>
  </div>
  <div class="col-sm">
    <ul>
      <li class="title">HELP</li>
      <li class="subtitle">FAQ's</li>
      <li class="subtitle">Contact</li>
    </ul>
  </div>
  <div class="col-sm">
    <ul>
      <li class="title">SOCIAL</li>
      <div class="row-social">
        
      </div>
    </ul>
  </div>
  <div class="col-m">

  </div>
</div>