<div class="main-container">
  <div class="row">
    <div class="col-1">
      <div class="logo-box">
        <img src="../../../assets/isologotypo.svg" alt="">
      </div>
      <div class="links-mobile">
          <div class="link"><a href="https://rcn.loans/">Marketplace</a></div>
          <div class="link"><a href="https://ripiocredit.network/">Blog</a></div>
          <div class="link"><a href="https://rcn.loans/">info@ripiocredit.network</a></div>
        </div>
        <div class="logo-box-mobile">
          <img src="../../../assets/isologotypo.svg" alt="">
        </div>
    </div>
   
      <div class="col-2">
        <div class="links">
          <div><a href="https://rcn.loans/">Marketplace</a></div>
          <span>|</span>
          <div><a href="https://ripiocredit.network/">Blog</a></div>
          <span>|</span>
          <div><a href="https://rcn.loans/">info@ripiocredit.network</a></div>
          <span>|</span>
        </div>
        <div class="social">
          <i class="fab fa-github"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-telegram-plane"></i>
          <i class="fab fa-discord"></i>
          <i class="fab fa-reddit-alien"></i>
        </div>
        <p class="mobile-divider">|</p>
        <div class="copy"><p>@Copyright 2019</p></div>
      </div>

  </div>
 </div>