<div [ngClass]="hide ? 'row' : 'hide'">
  <div class="content-back">
    <div class="content">
      <h2 class="main-subtitle">WELCOME TO...</h2>
        <h1 class="main-title">{{content.title}}</h1>
        <p class="main-text">RCN is an open global credit network that connects borrowers, creditors, 
          and financial institucions on the blockchain to create efficient, acalable, and borderless debt market</p>
        <button class="button" href="#howItWorks" (click)="navigate()">SEE HOW IT WORKS</button>
    </div>
  </div>
  <div class="col-right">
    <div class="img-box">
      <img src="../../../../assets/img/1_T6A9296_.jpg" alt="">
    </div>
    <div class="second-container">
      <div class="buttons-box">
        <button><i class="fas fa-arrow-left"></i></button>
        <button><i class="fas fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
  <div class="col-right-mobile">
    <div>
      <img src="../../../../assets/img/slide1-home_mobile.jpg" alt="">
    </div>
    <div class="second-container">
        <div class="buttons-box">
          <button (click)="left()"><i class="fas fa-arrow-left"></i></button>
          <button (click)="right()"><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
  </div>
</div>